#set($inputRoot = $input.path('$')) {
  "name": $inputRoot.name
  "type": $inputRoot.type
  "unit": $inputRoot.unit
  "very_long_string": $inputRoot.veryLongString
  "brand": $inputRoot.brand
  "description": $inputRoot.description
  "tags": $inputRoot.tags
}